:root {
    --bg-color: whitesmoke;
    --text-color: #000;
}

li {
    list-style: none;
    display:flex;
    flex-direction: inline;
    justify-content: space-evenly;

}
.nav{
    list-style: none;
    display:flex;
    flex-direction: inline;
    justify-content: space-evenly;
}