:root {
    --bg-color: whitesmoke;
    --text-color: #000;
}

body {
    background-color: whitesmoke;
}

li {
    list-style: none;
}

.header {
    background-color: var(--nav);
    text-transform: uppercase;
    position: relative;
    width: 100%;
}

.nav {
    list-style: none;
    display:flex;
    /* flex-direction: inline; */
    justify-content: space-between;
}

/* .header{
    display: grid;
    grid-template-columns: repeat(2, 1fr) 1fr ;
} */