:root {
    --bg-color: rgb(118, 124, 209);
    --text-color: #000;
}

body {
    background-color: var(--bg-color);
}

li {
    list-style: none;
}

.header {
    background-color: var(--nav);
    text-transform: uppercase;
    position: relative;
    width: 100%;
}

.nav {
    list-style: none;
    display:flex;
    /* flex-direction: inline; */
    justify-content: space-between;
}
.side-side{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    height: 120px;
}

.side-right, .side-left {
    background-color: #fff;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}
/* .header{
    display: grid;
    grid-template-columns: repeat(2, 1fr) 1fr ;
} */